table.BlackWhiteTable {
border-collapse: collapse;
font-family: sans-serif;
width: 70%;
margin-left:15%; 
margin-right:15%;
}

table.BlackWhiteTable td{
border: 1px solid black;
padding: 5px;
}

table.BlackWhiteTable th {
font-weight: normal;
padding: 5px;
}

table.BlackWhiteTable thead {
text-align: center;
background-color: #000000;
color: #FFFFFF;
}

table.BlackWhiteTable tbody {
text-align: left;
background-color: #FFFFFF;
color: #000000;
}

table.BlackWhiteTable td.numeric {
text-align: right;
}

